@import "theme.css";

table.docutils div.line-block {
    margin-left: 0;
}

.fa-home:before, .icon-home:before {
    content: url("../favicon-16x16.png");
}
.wy-side-nav-search {
    background-color: #404040;
}
.wy-side-scroll {
    background-color: #404040;
}